<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/iconfont/dongdong/iconfont2.css}" />
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/admUi/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/admUi/css/admUi.css}" />
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/admUi/css/system.css}" />
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/admUi/css/admUi-icons.css}" />
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/admUi/css/themes/dongdong/theme-light.css}" />
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/plugins/webuploader/webuploader.css}">
    <link rel="stylesheet" th:href="@{//cdn.ciyun.cn/plugins/webuploader/webuploader.css}">

    <script th:src="@{//cdn.ciyun.cn/admUi/js/jquery.js}"></script>
    <script th:src="@{//cdn.ciyun.cn/admUi/js/bootstrap.min.js}"></script>
    <script th:src="@{//cdn.ciyun.cn/plugins/bootstrap-table-1-11/bootstrap-table.js}"></script>
    <script th:src="@{//cdn.ciyun.cn/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{//cdn.ciyun.cn/plugins/webuploader/webuploader.html5only.min.js}"></script>
</head>
